name: Android build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  JAVA_VERSION: 21
  JAVA_DISTRIBUTION: 'temurin'

jobs:

  BuildAndTest:
    permissions:
      contents: write
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, ubuntu-24.04-arm ]
    steps:

      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - uses: actions/setup-java@v5
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew setupAndroidCmdlineTools --stacktrace
        if: contains(matrix.os, 'ubuntu-24.04-arm')

      - run: ./gradlew wrapper --gradle-version latest --stacktrace
      - run: ./gradlew wrapper --gradle-version latest --stacktrace
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update Gradle wrapper

      - run: ./gradlew ktlintFormat --stacktrace
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Ktlint format

      - run: ./gradlew clean ktlintCheck detekt lint assembleDebug test --stacktrace

  Device:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        managed-virtual-device: [ 27, 29, 30, 34, 35, 36 ]
        experimental: [ false ]
        os: [ ubuntu-latest ]
        include:
          - managed-virtual-device: 28
            experimental: true
            os: ubuntu-24.04-arm
          - managed-virtual-device: 31
            experimental: true
            os: ubuntu-24.04-arm
          - managed-virtual-device: 32
            experimental: true
            os: ubuntu-24.04-arm
          - managed-virtual-device: 35
            experimental: false
            os: ubuntu-24.04-arm

    steps:

      - uses: actions/checkout@v6

      - name: Enable KVM group perms
        if: contains(matrix.os, 'ubuntu-latest')
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - uses: actions/setup-java@v5
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew setupAndroidCmdlineTools --stacktrace
        if: contains(matrix.os, 'ubuntu-24.04-arm')

      - run: ./gradlew ciSdkManagerLicenses --stacktrace
        if: contains(matrix.os, 'ubuntu-24.04-arm')

      - run: ./gradlew managedVirtualDevice${{ matrix.managed-virtual-device }}DebugAndroidTest
          -Pandroid.testInstrumentationRunnerArguments.class=siarhei.luskanau.managed.virtual.device.ExampleInstrumentedTest
          -Pandroid.testoptions.manageddevices.emulator.gpu=swiftshader_indirect
          --stacktrace
